{% extends "opakowania/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
Oferta {{ offer.signature }}
{% endblock %}

{% block navigation%}
<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="disabled-link nav-link " href="" tabindex="-1">Start</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled-link" href="" tabindex="-1">Nowy klient</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled-link" href="" tabindex="-1">Szukaj klienta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1">Edytuj ofertę</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-9">
        <div class="card" style="height: 85vh; overflow-y: auto">
            <div class="card-header">
                <span class="h3">Oferta {{ offer.signature }}</span>
            </div>
            <div id="offerContent" class="card-body bg-secondary">
                {% for position in offer.position_set.all %}
                <div class="card mb-2">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="h4 p-0 m-0">Pozycja numer {{ position.orderNumberInOffer }}</div>
                            <div class="h4 p-0 m-0">
                                <span class="badge badge-pill badge-dark text-warning">Ilość produktów
                                    {{ position.numberOfProducts }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body py-0">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td style="width: 25%;">Indeks wewnętrzny produktu głównego</td>
                                    <td style="width: 25%;">{{ position.get_primary_product.innerIndex }}</td>
                                    <td style="width: 25%;">Indeks zewnętrzny produktu głównego</td>
                                    <td style="width: 25%;">{{ position.get_primary_product.outsideIndex }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <p class="card-text">Indeks wewnętrzny produktu głównego:
                            {{ position.get_primary_product.innerIndex }}</p>
                        <p class="card-text">Indeks zewnętrzny produktu głównego:
                            {{ position.get_primary_product.outsideIndex }}</p> -->
                        <div class="product-container" id={{ position.id }} style="display: none;">
                            <table class="table table-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" class="th-sm">Nazwa</th>
                                        <th scope="col" class="th-sm">Indeks wewnętrzny</th>
                                        <th scope="col" class="th-sm">Główny</th>
                                        <th scope="col" class="th-sm">Data dodania</th>
                                        <th scope="col" class="th-sm">Data edycji</th>
                                        <th scope="col" class="th-sm"></th><!-- Edytuj produkt -->
                                        <th scope="col" class="th-sm"></th><!-- Usuń produkt -->

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in position.ordered_product_set %}
                                    <tr>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.innerIndex }}</td>
                                        <td>{{ product.primary }}</td>
                                        <td>{{ product.created }}</td>
                                        <td>{{ product.lastModified }}</td>
                                        <td><i class="far fa-trash-alt"></i></td>

                                        <td><a class="generic-modal text-info" data-toggle="tooltip"
                                                data-placement="right" title="Usuń produkt" href="#">
                                                <i class="far fa-edit"></i></a></td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <a href="#" class="products-toggle-btn btn btn-outline-info btn-sm"
                            data-position_id="{{ position.id }}" data-mode="hidden">Pokaż produkty</a>
                        <a href="{% url 'product-add' offer.customer.id offer.id position.id %}"
                            class="btn btn-outline-info btn-sm">Dodaj produkt</a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-2">

        <div class="col-12 mb-2">
            <a id="nowaPozycjaBtn" href="{% url 'product-add' offer.customer.id offer.id %}"
                class="btn btn-outline-info btn-lg btn-block" role="button" aria-disabled="true">Nowa
                pozycja</a>
        </div>

        <div class="col-12">
            <a href="{% url 'customer-search' %}" class="btn btn-outline-danger btn-lg btn-block ">Zamknij ofertę</a>
        </div>

    </div>

</div>
<div id="modalContainer"></div>

{% endblock %}