{% load crispy_forms_tags %}


<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edytuj adres</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'customer-edit-address' customer_id address_id %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    {{ address_form.zip_code|as_crispy_field }}
                    {{ address_form.city|as_crispy_field }}
                    {{ address_form.address|as_crispy_field }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <input type="submit" class="btn btn-primary" value="Zapisz">
                </div>
            </form>
        </div>
    </div>
</div>