{% load crispy_forms_tags %}

<div class="modal fade contact-modal" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Podaj dane nowe kontaktu</h5>
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'customer-add-contact' customer_id %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">

                    {{ contact_form.name|as_crispy_field }}
                    {{ contact_form.phone|as_crispy_field }}
                    {{ contact_form.email|as_crispy_field }}
                    <p class="text-danger">{{ contact_form.non_field_errors.as_text }}</p>
                    {{ contact_form.position|as_crispy_field }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <input type="submit" class="btn btn-primary" value="Dodaj">
                </div>
            </form>
        </div>
    </div>
</div>