{% extends "opakowania/base.html" %}



{% block title %}
Witaj
{% endblock %}

{% block navigation%}
<ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">Start</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer-add' %}">Nowy klient</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer-search' %}">Szukaj klienta</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
lsjdfhlaksgfhskdjfh.SLFHAS,FKHGALKFH;I
{% endblock %}