{% extends "opakowania/base.html" %}



{% block title %}
Witaj
{% endblock %}

{% block navigation%}
<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item active">
          <a class="nav-link" href="/">Start</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'customer-add' %}">Nowy klient</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'customer-search' %}">Szukaj klienta</a>
      </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12">
    sdfsdfsdf
     </div>
</div>
{% endblock %}