{% extends "opakowania/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
Oferta {{ offer.signature }}
{% endblock %}

{% block navigation%}
<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="disabled-link nav-link " href="" tabindex="-1">Start</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled-link" href="" tabindex="-1">Nowy klient</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled-link" href="" tabindex="-1">Szukaj klienta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1">Edytuj ofertę</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-9">
        <div class="card" style="height: 85vh; overflow-y: auto">
            <div class="card-header">
                <span class="h3">Oferta {{ offer.signature }}</span>
            </div>
            <div id="offerContent" class="card-body bg-secondary">
                <div class="h1 text-danger text-center position-container" style="display: none;">Pozycje usunięte</div>
                {% for position in positions %}

                <div class="card mb-2 position-container" {% if position.deleted %} style="display: none;" {% endif %}>

                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="h4 p-0 m-0">Pozycja numer {{ position.orderNumberInOffer }}</div>
                            {% if position.deleted %}
                            <div class="h4 p-0 m-0">Pozycja usunięta {{ position.deletedDate }}</div>
                            {% endif %}
                            <div class="h4 p-0 m-0">
                                <span class="badge badge-pill badge-dark text-warning">Ilość produktów
                                    {% if position.deleted %}{{ position.numberOfProducts }}{% else %}{{ position.activeProducts }}{% endif %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body py-0">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td style="width: 25%;">Indeks wewnętrzny produktu głównego</td>
                                    <td style="width: 25%;">{{ position.get_primary_product.innerIndex }}</td>
                                    <td style="width: 25%;">Indeks zewnętrzny produktu głównego</td>
                                    <td style="width: 25%;">{{ position.get_primary_product.outsideIndex }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="product-container" id="product_container_{{ position.id }}" style="display: none;">
                            <table class="table table-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" class="th-sm" style="width: 24%;">Nazwa</th>
                                        <th scope="col" class="th-sm" style="width: 30%;">Indeks wewnętrzny</th>
                                        <th scope="col" class="th-sm" style="width: 7%;">Główny</th>
                                        <th scope="col" class="th-sm" style="width: 10%;">Data dodania</th>
                                        <th scope="col" class="th-sm" style="width: 23%;">Data edycji</th>
                                        <th scope="col" class="th-sm" style="width: 3%;"></th><!-- Edytuj produkt -->
                                        <th scope="col" class="th-sm" style="width: 3%;"></th><!-- Usuń produkt -->

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in position.ordered_product_set %}
                                    {% if product.deleted %}
                                    <tr class="delete-product-hidden-row" {% if position.deleted == False %}
                                        style="display: none;" {% endif %}>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.innerIndex }}</td>
                                        <td>Nie</td>
                                        <td>{{ product.created }}</td>
                                        <td>{{ product.lastModified }} <span class="text-danger"> usunięto:
                                                {{ product.deletedDate }}</span></td>
                                        <td>{% if position.deleted == False %}
                                            <a class="text-warning" data-toggle="tooltip" data-placement="right"
                                                title="Przywróć produkt"
                                                href="{% url 'product-restore' product.id %}"><i
                                                    class="fas fa-trash-restore-alt"></i></a>
                                            {% endif %}
                                        </td>
                                        <td></td>

                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.innerIndex }}</td>
                                        {% if product.primary %}
                                        <td>Tak</td>
                                        {% else %}
                                        <td>Nie</td>
                                        {% endif %}
                                        <td>{{ product.created }}</td>
                                        <td>{{ product.lastModified }}</td>
                                        {% if product.primary %}
                                        <td></td>
                                        {% else %}
                                        <td><a class="generic-modal text-danger"
                                                href="{% url 'product-delete' product.id %}" data-toggle="tooltip"
                                                data-placement="right" title="Usuń produkt"><i
                                                    class="far fa-trash-alt"></i></a></td>
                                        {% endif %}
                                        <td><a class="text-info" data-toggle="tooltip" data-placement="right"
                                                title="Edytuj produkt"
                                                href="{% url 'product-edit' offer.customer.id offer.id product.id %}">
                                                <i class="far fa-edit"></i></a></td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="#" class="products-toggle-btn btn btn-outline-info btn-md"
                                    data-position_id="{{ position.id }}" data-mode="hidden">Pokaż produkty</a>
                                {% if position.deleted == False %}
                                <a href="#" class="btn btn-outline-info btn-md show-deleted-products-btn"
                                    style="display: none;" data-mode="hidden"
                                    id="show_deleted_products_{{ position.id }}" data-position_id="{{ position.id }}">
                                    <span class="btnText">Pokaż usunięte produkty</span>
                                    <span class="badge badge-pill badge-dark text-warning">
                                        {{ position.deletedProducts }}</span></a>

                                <a href="{% url 'product-add' offer.customer.id offer.id position.id %}"
                                    class="btn btn-outline-info btn-md">Dodaj produkt</a>
                                {% endif %}
                            </div>
                            <div>
                                {% if position.deleted %}
                                <a href="{% url 'position-restore' position.id %}" class="generic-modal btn btn-outline-danger btn-md">Przywróć pozycję</a>
                                {% else %}
                                <a href="{% url 'position-delete' offer.customer.id offer.id position.id %}"
                                    class="generic-modal btn btn-outline-danger btn-md">Usuń pozycję</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-2">

        <div class="col-12 mb-2">
            <a href="{% url 'product-add' offer.customer.id offer.id %}" class="btn btn-info btn-lg btn-block">Nowa
                pozycja</a>
        </div>
        <div class="col-12 mb-2">
            <a href="" class="btn btn-info btn-lg btn-block" id="show-deleted-positions-btn" data-mode="hidden">Pokaż
                usunięte pozycje</a>
        </div>

        <div class="col-12 mb-2">
            <a href="{% url 'customer-search' %}" class="btn btn-danger btn-lg btn-block ">Zamknij
                ofertę</a>
        </div>
    </div>

</div>
<div id="modalContainer"></div>

{% endblock %}